<h1>Add a new Flat</h1>

<%= simple_form_for @flat do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :number_of_guests %>
  <%= f.input :price_per_night %>
  <%= f.submit "add a flat", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", flats_path %>
